{% extends "base_generic.html" %}
{% load scheduletags %}

{% load static %}


{% block add_to_head %}
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>

  <style>
      a.addClassLink {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: inline-flex;
      background-color: rgb(44, 62, 80);
      justify-content: center;
      justify-items: center;
      margin-top: 10px;
    }

    a.addClassLink:link{
      text-decoration: none;
    }

    div.buttons {
    display: inline-flex;
    float: right;
    height: 100%;
    }
  </style>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
  <div class="col-lg-9 col-12">
    <div id="calendar"></div>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          timeZone: 'America/New_York',
          initialView: 'dayGridMonth',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          eventSources: [
            {
              url: "{% url 'notes:eventapi' %}",
              method: 'GET',
              extraParams: {
                calendar_slug: '{{user.username}}',

              },
              failure: function() {
                alert('There was an error while fetching events!');
              }
            },
            {
              url: "{% url 'notes:todoapi' %}",
              method: 'GET',
              extraParams: {
                calendar_slug: '{{user.username}}',

              },
              failure: function() {
                alert('There was an error while fetching events!');
              }
            }
          ],
          eventClick: function(info) {
            window.open( '/class/event/' + info.event._def.extendedProps.event_id, target="_self");
          },
        });
        calendar.render();
      });

    </script> 
  </div>
  <div class="col-lg-3 col-12">
    <div class="row">
      <div class="col-lg-12 col-6 mb-lg-3">
        <h2>Class List
          <a href="{% url 'notes:add_event' %}" class="addClassLink">
            <i class="fa-solid fa-plus" style="color: white; align-self: center; justify-self: center; "></i>
          </a>
          <a href="{% url 'notes:import_class' %}" class="addClassLink">
            <i class="fa-solid fa-file-import" style="color: white; align-self: center; justify-self: center; "></i>
          </a>
        </h2>
        <div class="list-group">
          {% for c in classes %}
            <a class="list-group-item list-group-item-action" style="background-color: {{ c.calendar_event.color_event }}" href="/class/{{ c.id }}/">{{ c.name }}</a>
          {% endfor %}
        </div>
        {% if archived_classes %}
          <div class="mb-5">
            <h2>Archived Classes</h2>
            <div class="list-group">
            {% for c in archived_classes %}
              <div class="list-group-item" style="background-color: {{ c.calendar_event.color_event }}"
                href="/class/{{ c.name }}/">
                {{ c.name }}
                <div class="buttons">
                  <a href ="{% url 'notes:restore_class' c.id %}">
                    <i class="fa-solid fa-trash-restore" style="color: grey; margin-right: 10px;"></i>
                  </a>
                  <a href="{% url 'notes:delete_class' c.id %}">
                    <i class="fa-solid fa-trash" style="color: grey"></i>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        {%endif%}
      </div>

      <div class="col-lg-12 col-6 mb-lg-3">
        <h2>To-Do List
          <a href="{% url 'notes:edit_todo_no_class' %}" class="addClassLink">
            <i class="fa-solid fa-plus" style="color: white; align-self: center; justify-self: center; "></i>
          </a>
        </h2>
        <form action = '' method='post'>
          {% csrf_token %}
          <div class="list-group">
            {% for t in ToDos %}
              {% if t.cls %}
                  <a class="list-group-item list-group-item-action" 
                    style="background-color: {{ t.cls.calendar_event.color_event }}"  href="{% url 'notes:edit_todo' t.cls.id %}?todoid={{t.id}}">
                    {{t.title}}
                    <input type="checkbox" value={{t.id}} name="checkbox_data" {% if t.completed %} checked {% endif %}><br>
                  </a>
              {% else %}
                  <a class="list-group-item list-group-item-action" 
                    style="background-color: lightgrey"  href="{% url 'notes:edit_todo_no_class' %}?todoid={{t.id}}">
                    {{t.title}}
                    <input type="checkbox" value={{t.id}} name="checkbox_data" {% if t.completed %} checked {% endif %}><br>
                  </a>
              {% endif %}
            {% endfor %}
          </div>
          {% if ToDos %}
          <br>
            <p align="right">
              <input class="btn btn-primary" type="submit" value="Submit" style="background-color: rgb(44, 62, 80)">
            </p>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
<h1>Welcome to Studious</h1>
<h2>Your new home for notetaking.</h2>
{% endif %}

{% endblock %}
