{% extends "base_generic.html" %}
{% load scheduletags %}

{% load static %}


{% block add_to_head %}
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>

  <style>
      a.addClassLink {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: inline-flex;
      background-color: maroon;
      justify-content: center;
      justify-items: center;
    }

    a.addClassLink:link{
      text-decoration: none;
    }
  </style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-9 col-12">
    <div id="calendar"></div>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          timeZone: 'America/New_York',
          initialView: 'dayGridMonth',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          events: {
            url: '/schedule/api/occurrences?calendar_slug=main-calendar',
          },
          eventClick: function(info) {
            {% comment %} alert(info.event.start) {% endcomment %}
            {% comment %} alert(info.event.end) {% endcomment %}
            window.open( '{% url "view_meeting_by_date" %}?event=' + info.event.id + '&start=' + info.event.start + '&end=' + info.event.end, target="_self")
          },
        });
        calendar.render();
      });

    </script> 
  </div>
  <div class="col-lg-3 col-12">
    <div class="row">
      <div class="col-lg-12 col-6 mb-lg-3">
        <h1>Class List</h1>
        <div class="list-group">
          {% for c in classes %}
            <a class="list-group-item list-group-item-action" style="background-color: {{ c.calendar_event.color_event }}" href="/class/{{ c.name }}/">{{ c.name }}</a>
          {% endfor %}
          <h2>
            <a href="{% url 'notes:add_event' %}" class="addClassLink">
              <i class="fa-solid fa-plus" style="color: white; align-self: center; justify-self: center; "></i>
            </a>
            <a href="{% url 'notes:import_class' %}" class="addClassLink">
              <i class="fa-solid fa-import" style="color: white; align-self: center; justify-self: center; "></i>
            </a>
          </h2>
        </div>
      </div>
      <div class="col-lg-12 col-6 mb-lg-3">
        <h1>To-do List</h1>
        <ul class="list-group">
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Look over lecture notes for Class 2
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Start homework for Class 1
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Finish take-home exam for Class 3
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            <input class="border-0" type="text" placeholder="New to-do item...">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
