{% extends "base_generic.html" %}
{% load scheduletags %}

{% load static %}

{% block add_to_head %}
  <link rel="stylesheet" href="{% static "css/slider.css" %}">
{% endblock %}

{% block content %}

<h1>Edit Class</h1>

<form method="POST" action="{% url 'notes:edit_class' classid %}" enctype="multipart/form-data">
   
  {% csrf_token %}
  
  {% for hidden in form.hidden_fields %}
    {% if hidden.id_for_label == "id_calendar" %}
      <input type="hidden" name="calendar" id="id_calendar" value="{{user.profile.calendar.id}}">
    {% else %}
      {{ hidden }}
    {% endif %}
  {% endfor %}

  {% for field in form.visible_fields %}

  <div class="fieldWrapper input-group mb-3">
    {% if field.id_for_label == "id_color" %}
      {{ field.errors }}
      <span class="input-group-text choose-color" id="choose-color">{{ field.label_tag }}</span>
      {{ field }}
      <script src="{% static 'js/slider.js' %}"></script>
    {% else %}
      {{ field.errors }}
      <span class="input-group-text">{{ field.label_tag }}</span>
      {{ field }}
    {% endif %}
  </div>

  {% endfor %}

  <button>Submit</button>

{% endblock %}