{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<!DOCTYPE html>

<head>
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <!-- <link href="{% static 'notes/static/myfirst.css' %}" rel="stylesheet"> -->

<style>
  div.container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    color: maroon;
    background-color: lightpink;
    justify-content: space-between;
    height: 100%;
  }

  div.className {
    display: flex;
  }

  h2.container {
    display: flex;
    border-radius: 10px;
    color: Black;
    justify-content: space-between;
  }

  a.addClassLink {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    background-color: maroon;
    justify-content: center;
    justify-items: center;
  }

  a.addClassLink:link{
    text-decoration: none;
  }
</style>
</head>

<body>
<div class="row">
  <div class="col-sm-3 col-12 border-end">
    <div class="row sticky-top">
      <div class="col-12 mb-3">
        <h2 class="container">
          Classes
          <a href="{% url 'notes:add_event' %}" class="addClassLink">
              <i class="fa-solid fa-plus" style="color: white; align-self: center; justify-self: center; "></i>
          </a>
        </h2>
        <div class="class-list">
          {% for classes in classes %}
    
            <div class="container">
            <div>{{classes.name}}</div>
    
            <a href="{% url 'notes:delete_class' classes.id %}" class="button is-danger" style=""><i class="fa-solid fa-trash" style="color: maroon"></i></a>
            </div>
    
          {% endfor %}
        </div>
        <div class="list-group">
          <a class="list-group-item list-group-item-action list-group-item-primary" href="#class1">Class 1</a>
          <a class="list-group-item list-group-item-action list-group-item-success" href="#class2">Class 2</a>
          <a class="list-group-item list-group-item-action list-group-item-danger" href="#class3">Class 3</a>
        </div>
      </div>
      <div class="col-12 mb-3">
        <h2>Other</h2>
        <div class="list-group">
          <a class="list-group-item list-group-item-action list-group-item-warning" href="#meeting1">Meeting 1</a>
          <a class="list-group-item list-group-item-action list-group-item-dark" href="#nocat">No Category</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-12 border-start">
      <div class="field">
      <input type="text" id="SEARCH" name="SEARCH" style="width:100%;" placeholder="Search for notes...">
      
      <h1>Classes</h1>
      {% for classes in classes %}
      <h1 id="{{ classes.id }}">{{classes.name}}</h1>
      <ul class="unstyled-list">
        <li>Lecture 1: The brain</li>
        <li>Lecture 2: The amygdala</li>
        <li>Lecture 3: The frontal cortex</li>
        <li>etc.</li>
        <li>Lecture 1: The brain</li>
        <li>Lecture 2: The amygdala</li>
        <li>Lecture 3: The frontal cortex</li>
        <li>etc.</li>
        <li>Lecture 1: The brain</li>
        <li>Lecture 2: The amygdala</li>
        <li>Lecture 3: The frontal cortex</li>
        <li>etc.</li>
        <li>Lecture 1: The brain</li>
        <li>Lecture 2: The amygdala</li>
        <li>Lecture 3: The frontal cortex</li>
        <li>etc.</li>
      </ul>
      {% endfor %}
      <h2 id="class1">Class 1</h2>
      <ul class="unstyled-list">
        <li>Lecture 1: The brain</li>
        <li>Lecture 2: The amygdala</li>
        <li>Lecture 3: The frontal cortex</li>
        <li>etc.</li>
      </ul>
      <h2 id="class2">Class 2</h2>
      <ul class="unstyled-list">
        <li>Lecture 1: Programming in C</li>
        <li>Lecture 2: IPC and pipes</li>
        <li>Lecture 3: Process scheduling</li>
        <li>etc.</li>
        <li></li>
      </ul>
      <h2 id="class3">Class 3</h2>
      <ul class="unstyled-list">
        <li>Lecture 1: User stories</li>
        <li>Lecture 2: Design patterns</li>
        <li>Lecture 3: Planning poker</li>
        <li>etc.</li>
        <li></li>
        <li></li>
      </ul>
      <h1>Other</h1>
      <h2 id="meeting1">Meeting 1</h2>
      <ul class="unstyled-list">
        <li>What to name our company</li>
        <li>Board of directors meeting</li>
        <li>Angel investor funds</li>
        <li>etc.</li>
        <li></li>
        <li></li>
      </ul>
      <h2 id="nocat">No Category</h2>
      <ul class="unstyled-list">
        <li>Banquet planning</li>
        <li>First aid</li>
        <li>How to pitch a tent</li>
        <li>Warframe lore</li>
      </ul>
  </div>
</div>
{% endblock %}
</body>
