{% extends "base_generic.html" %}

{% load static %}

{% block add_to_head %}
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

<style>
  div.container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    color: rgb(44, 62, 80);
    background-color: lightpink;
    justify-content: space-between;
    height: 100%;
  }

  div.className {
    display: flex;
  }

  h2.container {
    display: flex;
    border-radius: 10px;
    color: Black;
    justify-content: space-between;
  }

  a.addClassLink {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    background-color: rgb(44, 62, 80);
    justify-content: center;
    justify-items: center;
    left: 0;
  }

  a.addClassLink:link {
    text-decoration: none;
  }

  div.buttons {
    display: inline-flex;
    float: right;
    height: 100%;
  }

  header { border-bottom: 1px solid #000; }
  header > h1 { display: inline-block; }
  header span { margin-left: 100px; }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-3 col-12 border-end">
    <div class="row sticky-top">
      <div class="col-12 mb-3">
        <div class="col-lg-12 col-6 mb-lg-3">
          <h2>Class List
            <a href="{% url 'notes:add_event' %}" class="addClassLink">
              <i class="fa-solid fa-plus" style="color: white; align-self: center; justify-self: center; "></i>
            </a>
            <a href="{% url 'notes:import_class' %}" class="addClassLink">
              <i class="fa-solid fa-file-import" style="color: white; align-self: center; justify-self: center; "></i>
            </a>
          </h2>
          <div class="list-group">
            {% for c in classes %}
              <a class="list-group-item list-group-item-action" style="background-color: {{ c.calendar_event.color_event }}" href="/class/{{ c.id }}/">{{ c.name }}</a>
            {% endfor %}
          </div>
          {% if archived_classes %}
            <div class="mb-5">
              <h2>Archived Classes</h2>
              <div class="list-group">
                {% for c in archived_classes %}
                  <div class="list-group-item" style="background-color: {{ c.calendar_event.color_event }}"
                    href="/class/{{ c.name }}/">
                    {{ c.name }}
                    <div class="buttons">
                        <a href ="{% url 'notes:restore_class' c.id %}">
                          <i class="fa-solid fa-trash-restore" style="color: grey; margin-right: 10px;"></i>
                        </a>
                        <a href="{% url 'notes:delete_class' c.id %}">
                          <i class="fa-solid fa-trash" style="color: grey"></i>
                        </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {%endif%}
        </div>
        <div class="col-lg-12 col-6 mb-lg-3">
          <h2>To-Do List
            <a href="{% url 'notes:edit_todo' classid.id %}" class="addClassLink">
              <i class="fa-solid fa-plus" style="color: white; align-self: center; justify-self: center; "></i>
            </a>
          </h2>
          <form action = '' method='post'>
            {% csrf_token %}
            <div class="list-group">
              {% for t in ToDos %}
                {% if t.cls %}
                    <a class="list-group-item list-group-item-action" 
                      style="background-color: {{ t.cls.calendar_event.color_event }}"  href="{% url 'notes:edit_todo' t.cls.id %}?todoid={{t.id}}">
                      {{t.title}}
                      <input type="checkbox" value={{t.id}} name="checkbox_data" {% if t.completed %} checked {% endif %}><br>
                    </a>
                {% else %}
                    <a class="list-group-item list-group-item-action" 
                      style="background-color: lightgrey"  href="{% url 'notes:edit_todo_no_class' %}?todoid={{t.id}}">
                      {{t.title}}
                      <input type="checkbox" value={{t.id}} name="checkbox_data" {% if t.completed %} checked {% endif %}><br>
                    </a>
                {% endif %}
              {% endfor %}
            </div>
            {% if ToDos %}
            <br>
              <p align="right">
                <input class="btn btn-primary" type="submit" value="Submit" style="background-color: rgb(44, 62, 80)">
              </p>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-12 border-start">
    <div class="field">
     <!-- Search form -->
     <form method="get">
        <input type="text" name="search" value="{{ search_query }}">
        <button type="submit">Search</button>
      </form>

      <!-- Display search results -->
      {% if search_results_content %}
        <h3>Matched Text:</h3>
        {% for note in search_results_content %}
          <a class="list-group-item list-group-item-action"
          style="background-color: {{ note.color }}" href="{% url 'notes:editor' note.lecture.id %}?noteid={{note.id}}">{{ note.title }}
          <span class="badge badge-light" style="background-color: lightslategray">{{ note.tag }}</span>
          </a>
        {% endfor %}
      {% endif %}
      {% if search_results_tag %}
        <h3>Matched Tag:</h3>
        {% for note in search_results_tag %}
          <a class="list-group-item list-group-item-action"
          style="background-color: {{ note.color }}" href="{% url 'notes:editor' note.lecture.id %}?noteid={{note.id}}">{{ note.title }}
          <span class="badge badge-light" style="background-color: lightslategray">{{ note.tag }}</span>
          </a>
        {% endfor %}
      {% endif %}
      
      <header>
        <h1>{{classid.name}}</h1>
        <a href="{% url 'notes:edit_class' classid.id %}"><i class="fa-solid fa-gear"></i></a>
        <a href="{% url 'notes:archive_class' classid.id %}"><i class="fa-solid fa-archive" style="color: maroon"></i></a>
        <label for="sort-by">Sort by:</label>
        <select id="sort-by" name="sort-by">
          <option value="latest" {% if sort_by == 'latest' %}selected{% endif %}>Latest</option>
          <option value="earliest" {% if sort_by == 'earliest' %}selected{% endif %}>Earliest</option>
        </select>
      </header>  
      {% for lecture in lecture_queryset %}
      <div class="row border-top">
        <div class = "col-11">
          <h2>{{lecture}}</h2>
        </div>
      </div>
      <div class="list-group">
        {% for note in lecture.note_set.all %}
        <a class="list-group-item list-group-item-action"
          style="background-color: {{ note.color }}" href="{% url 'notes:editor' lecture.id %}?noteid={{note.id}}">{{ note.title }}
          <span class="badge badge-light" style="background-color: lightslategray">{{ note.tag }}</span>
        </a>
        {% endfor %}
      </div>
      <div class="col-5">
        <a href="{% url 'notes:editor' lecture.id %}">New Note</a>
      </div>
      {% endfor %}
      <div class="col-11">
        <h3><a href="{% url 'notes:create_lecture' %}?classid={{classid.id}}">New Lecture</a></h3>
      </div>
    </div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  </div>
</div>

  <script>
    const sortSelect = document.getElementById('sort-by');

    sortSelect.addEventListener('change', function () {
      const selectedValue = this.value;
      const currentUrl = new URL(window.location.href);

      currentUrl.searchParams.set('sort_by', selectedValue);

      window.location.href = currentUrl.toString();
    });
  </script>


  {% endblock %}