{% extends "base_generic.html" %}

{% load static %}

{% block add_to_head %}
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <!-- <link href="{% static 'notes/static/myfirst.css' %}" rel="stylesheet"> -->

  <style>
    div.container {
      display: flex;
      flex-wrap: wrap;
      border-radius: 10px;
      color: maroon;
      background-color: lightpink;
      justify-content: space-between;
      height: 100%;
    }

    div.className {
      display: flex;
    }

    h2.container {
      display: flex;
      border-radius: 10px;
      color: Black;
      justify-content: space-between;
    }

    a.addClassLink {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: inline-flex;
      background-color: maroon;
      justify-content: center;
      justify-items: center;
    }

    a.addClassLink:link{
      text-decoration: none;
    }
  </style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-3 col-12 border-end">
    <div class="row sticky-top">
      <div class="col-12 mb-3">
        <h2 class="container">
          Classes
          <a href="{% url 'notes:add_event' %}" class="addClassLink">
              <i class="fa-solid fa-plus" style="color: white; align-self: center; justify-self: center; "></i>
          </a>
          <a href="{% url 'notes:import_class' %}" class="addClassLink">
            <i class="fa-solid fa-import" style="color: white; align-self: center; justify-self: center; "></i>
          </a>
        </h2>
        <div class="class-list">
          
        </div>
        <div class="list-group">
          {% for c in classes %}
            <a class="list-group-item list-group-item-action" href="#{{ c.id }}" style="background-color: {{ c.calendar_event.color_event }}">{{ c.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-12 border-start">
      <div class="field">
      <input type="text" id="SEARCH" name="SEARCH" style="width:100%;" placeholder="Search for notes...">
      
      <h1>{{classid.name}}</h1>
      <div class = "col-5">
        <a href="{% url 'notes:delete_class' classid.id %}" class="button is-danger"><i class="fa-solid fa-trash" style="color: maroon"></i></a>
      </div>
      {% for l in classid.lecture_set.all %}
      <div class="row border-top">
        <div class = "col-11">
          <h2>Lecture: {{l.meeting_number}}</h2>
        </div>
      </div>
      <ul class="unstyled-list">
        {% for n in l.note_set.all %}
          <li>{{n.title}}</li>
        {% endfor %}
      </ul>
      <div class = "col-5">
        <a href="{% url 'editor' %}">New Note</a>
      </div>
      {% endfor %}
      <div class = "col-11">
        <h3><a href="{% url 'editor' %}">New Lecture (not implemented)</a></h3>
      </div>

  </div>
</div>
{% endblock %}