<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Studious{% endblock %}</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% block add_to_head %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'notes:home_page' %}">
          <img src="{% static 'images/MainLogo.png' %}" alt="" width="auto" height="64px">
        </a>
        <div class="d-flex flex-row-reverse bd-highlight">
        {% if user.is_authenticated %}
          <div class="p-2 bd-highlight">
            <a href="{% url 'logout' %}" class="btn btn-danger">Log out</a>
          </div>
          {% else %}
          <div class="p-2 bd-highlight">
            <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
          </div>
          <div class="p-2 bd-highlight">
            <a href="{% url 'accounts:signup' %}" class="btn btn-secondary">Sign up</a>
          </div>
        {% endif %}
      </div>
    </nav>
    <div class="container-lg">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>